window {
margin: 0px;
border: 1px solid #C9CBFF;
background-color: #1E1E28;
}

#input {
margin: 5px;
border: none;
color: #DFDEF1;
background-color: #575268;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1E1E28;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1E1E28;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #988BA2;
font-size: 36px;
} 

#entry:selected {
background-color: #E5B4E2;
}
