window {
margin: 0px;
border: 1px solid #C9CBFF;
background-color: #1E1D2F;
}

#input {
margin: 5px;
border: none;
color: #D9E0EE;
background-color: #575268;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1E1D2F;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1E1D2F;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #988BA2;
font-size: 36px;
} 

#entry:selected {
background-color: #F5C2E7;
}
